{% extends "base.html" %}

{% block title%}
{{ post.location }} {{ post.date }}
{% endblock %}

{% block header-a %}
{% endblock %}

{% block header-b %}
{% endblock %}

{% block header-c %}
{% endblock %}

{% block main%}
<article>
  <ul>
    <li>
      Место: {{ post.location }}            
    </li>
    <li>
      Дата: {{ post.date }}
    </li>
    <li>
      Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
    </li>
  </ul>         
  <p>
    {{ post.text }}
  </p>          
</article>                
{% endblock %}